<div class="px-4 py-5 d-flex flex-column align-items-center">
  <div class="px-1 p-2 rounded-4 bg-warning col-lg-4 mb-2">
    <div class="container-fluid d-flex flex-column justify-content-around">
      <h1 class="display-5 fw-bold align-self-center text-white">
        Lottery App (goerli)
      </h1>
    </div>
  </div>
  <div
    *ngIf="!bets && wallet"
    class="px-1 p-2 rounded-4 bg-danger col-lg-4 mb-4"
  >
    <div class="container-fluid d-flex flex-column justify-content-around">
      <h4 class="fw-bold align-self-center text-white">
        Bets are currently closed!
      </h4>
    </div>
  </div>
  <div
    *ngIf="bets && wallet"
    class="px-1 p-2 rounded-4 bg-success col-lg-4 mb-4"
  >
    <div class="container-fluid d-flex flex-column justify-content-around">
      <h4 class="fw-bold align-self-center text-white">Bets are open!</h4>
    </div>
  </div>
  <div *ngIf="!wallet" class="col-lg-6 mx-auto">
    <h4 class="text-center">Connect to your wallet:</h4>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
    <div class="mt-4 m-5 d-flex flex-column">
      <div class="d-flex justify-content-around">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="mnemonicOrPrivateKey"
            id="mnemonicOrPrivateKey1"
            (click)="setPrivateOrMnemonic('mnemonic')"
          />
          <label class="form-check-label" for="mnemonicOrPrivateKey1">
            Use Mnemonic
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="mnemonicOrPrivateKey"
            id="mnemonicOrPrivateKey2"
            (click)="setPrivateOrMnemonic('private')"
          />
          <label class="form-check-label" for="mnemonicOrPrivateKey2">
            Use Private Key
          </label>
        </div>
      </div>
      <input
        #walletAddress
        class="form-control mt-4"
        type="text"
        placeholder="Provide wallet address here"
      />
      <input
        #privateKeyOrMnemonic
        class="form-control mt-4"
        type="text"
        placeholder="Provide Mnemonic phrase or privat key here"
      />
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block mt-4"
        (click)="importWallet(walletAddress.value, privateKeyOrMnemonic.value)"
      >
        Import
      </button>
    </div>
  </div>
  <div
    *ngIf="wallet"
    class="mx-auto d-flex justify-content-around align-items-center"
  >
    <!-- <div class="px-1 p-1 col-lg-8 d-flex flex-column align-items-center">
      <div class="px-1 p-5 mt-3 rounded-4 bg-dark col-lg-5">
        <div class="container-fluid d-flex flex-column align-items-center">
          <p class="fs-6 text-white">Amount of Betters:</p>
          <h4 class="text-white">
            10
          </h4>
        </div>
      </div>
      <div class="container-fluid d-flex justify-content-around">
        <div class="px-1 p-5 mt-3 rounded-4 bg-dark col-lg-5">
          <div class="container-fluid d-flex flex-column align-items-center">
            <p class="fs-6 text-white">Bet Fee:</p>
            <h4 class="text-white">
              100
            </h4>
          </div>
        </div>
        <div class="px-1 p-5 mt-3 rounded-4 bg-dark col-lg-5">
          <div class="container-fluid d-flex flex-column align-items-center">
            <p class="fs-6 text-white">Bet Price:</p>
            <h4 class="text-white">
              100
            </h4>
          </div>
        </div>
      </div>
      <div class="container-fluid d-flex justify-content-around">
        <div class="px-1 p-5 mt-3 rounded-4 bg-dark col-lg-5 mb-3">
          <div class="container-fluid d-flex flex-column align-items-center">
            <p class="fs-6 text-white">ETH balance:</p>
            <h4 class="text-white">
              100
            </h4>
          </div>
        </div>
        <div class="px-1 p-5 mt-3 rounded-4 bg-dark col-lg-5 mb-3">
          <div class="container-fluid d-flex flex-column align-items-center">
            <p class="fs-6 text-white">Token Balance:</p>
            <h4 class="text-white">
              100
            </h4>
          </div>
        </div>
      </div>
    </div> -->

    <div
      class="px-1 p-1 d-flex flex-column rounded-5 bg-dark col-lg-9 px-4 ml-4 action"
    >
      <div class="px-1 p-2 mt-4 rounded-3 bg-light">
        <div
          class="container-fluid d-flex p-2 flex-column justify-content-around"
        >
          <p class="fs-5 text-center">Wallet Address:</p>
          <h5 class="text-center">
            {{ wallet.address }}
          </h5>
        </div>
      </div>
      <div *ngIf="isOwner" class="px-1 p-2 mt-4 rounded-3 bg-light">
        <div class="container-fluid d-flex p-2 justify-content-around">
          <button
            type="button"
            (click)="openBets()"
            class="btn btn-info btn-lg btn-block col-lg-5 rounded-3"
          >
            Open Bets
          </button>
          <button
            type="button"
            class="btn btn-info btn-lg btn-block col-lg-6 rounded-3"
            (click)="ownerWithdraw()"
          >
            Owner Withdraw
          </button>
        </div>
      </div>
      <div class="mt-4 rounded-3 bg-light mb-4">
        <div class="container-fluid d-flex p-2 justify-content-around">
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block col rounded-3 m-2"
            (click)="buyTokens()"
          >
            Top Up
          </button>
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block col rounded-3 m-2"
            (click)="bet()"
          >
            Bet
          </button>
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block col rounded-3 m-2"
            (click)="withdrawTokens()"
          >
            Burn Tokens
          </button>
        </div>
        <div class="container-fluid d-flex p-2 justify-content-around">
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block col rounded-3 m-2"
            (click)="checkPrize()"
          >
            Check Prize
          </button>
          <button
            type="button"
            class="btn btn-primary btn-md btn-block col rounded-3 m-2"
            (click)="withdrawPrize()"
          >
            Withdraw Prize
          </button>
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block col rounded-3 m-2"
            (click)="closeLottery()"
          >
            Close Bets
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-7 d-flex flex-column">
      <div class="px-1 p-3 rounded-5 bg-secondary">
        <div
          class="container-fluid d-flex justify-content-between align-items-center"
        >
          <p class="fs-5 text-white">Purchase Ratio:</p>
          <h5 class="text-white">{{ purchaseRatio }}</h5>
        </div>
      </div>
      <div class="px-1 p-3 mt-2 rounded-5 bg-secondary">
        <div
          class="container-fluid d-flex justify-content-between align-items-center"
        >
          <p class="fs-5 text-white">Bet Fee:</p>
          <h5 class="text-white">{{ betFee }}</h5>
        </div>
      </div>
      <div class="px-1 p-3 mt-2 rounded-5 bg-secondary">
        <div
          class="container-fluid d-flex justify-content-between align-items-center"
        >
          <p class="fs-5 text-white">Bet Price:</p>
          <h5 class="text-white">{{ betPrice }}</h5>
        </div>
      </div>
      <div class="px-1 p-3 mt-2 rounded-5 bg-secondary">
        <div
          class="container-fluid d-flex justify-content-between align-items-center"
        >
          <p class="fs-5 text-white">ETH balance:</p>
          <h5 class="text-white">{{ ethBalanceFull }}</h5>
        </div>
      </div>
      <div class="px-1 p-3 mt-2 rounded-5 bg-secondary">
        <div
          class="container-fluid d-flex justify-content-between align-items-center"
        >
          <p class="fs-5 text-white">Token Balance:</p>
          <h5 class="text-white">{{ tokenBalanceFull }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
